{% extends "marketplaceapp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-6 my-4">
            <div class="card">
                <img class="my-2" src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Pret: {{ product.price }} euro</p>
                    <a href="{% url 'product_detail' product.id %}">
                        <button class="btn-custom spaced-top-2">Vezi detalii</button>
                    </a>
                    {% if user.is_authenticated %}

                        <button class="btn-custom-reverse spaced-top-2">Adaugă în coș</button>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <button class="btn-custom-reverse spaced-top-2">Adaugă în coș</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
